<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Login</title>
		<style>
			table, tr, td {
				border-collapse: collapse;
				border: 1px solid black;
			}
		</style>
	</head>
	<body>
		<form action="/register" method="post">
			<table>
				<tr>
					<td>Username:</td>
					<td><input type="text" name="username" id="username" value="ameed"></td>
					<td><span style="color: red">#{usernameError}</span></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password1" id="password1" value="ameed"></td>
					<td><span style="color: red">#{passwordError}</span></td>
				</tr>
				<tr>
					<td>Confirm Password</td>
					<td><input type="password" name="password2" id="password2" value="ameed"></td>
					<td><span style="color: red">#{passwordsMismatchError}</span></td>
				</tr>
				<tr>
					<td>Age</td>
					<td><input type="number" name="age" id="age" value="43"></td>
					<td><span style="color: red">#{ageError}</span></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="Register"></td>
				</tr>
			</table>
		</form>
	</body>
</html>
